<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- LSPosed/Xposed module metadata -->
    <application
        android:allowBackup="false"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposeddescription"
            android:value="Remove ads and unlock VIP features for Download Twitter Videos" />

        <meta-data
            android:name="xposedminversion"
            android:value="82" />

        <!-- Target the specific app -->
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

    </application>

</manifest>
